footer {
  background-color: blue;
  display: flex;
  margin-top: 30px;
}

.conten-footer {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  margin: auto;
  color: white;
}

.conten-footer h4 {
  margin: 20px;
}